-# For chart:
%script{:src => '//www.google.com/jsapi', :type => 'text/javascript'}
%script{:src => '/chartkick.js', :type => 'text/javascript'}

-# For DatePicker:  http://formvalidation.io/examples/bootstrap-datepicker/
-#                  http://eonasdan.github.io/bootstrap-datetimepicker/
%link{rel: "stylesheet", href: "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css"}
%link{rel: "stylesheet", href: "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"}
%script{src: "//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"}
:javascript
  $(document).ready(function() {
    $('#from_date_picker').datepicker({
        format: 'M-dd-yyyy'
      })
  });
  $(document).ready(function() {
    $('#til_date_picker').datepicker({
        format: 'M-dd-yyyy'
      })
  });


%p Search for user achievements on Codecademy:
%form{role: 'form', class:'form-inline', action: '/cadets', method: 'get', id: 'user-form'}
  %div{class: 'form-group'}
    %label{for:'username-input'} Username:
    %input{type: 'text', class: 'form-control', name: 'username', id: 'username-input', placeholder: '(username required)', value: "#{@username}"}
  %div{class: 'form-group'}
    %label{class: 'control-label', for:'from_date_picker'} From:
    %div{class: 'input-group input-append date', id: 'from_date_picker'}
      %input{type: 'text', class: 'form-control', name: 'from_date', placeholder: "e.g., #{(Date.today - 6.months).strftime("%b-%d-%Y")}"}
      %span{class: 'input-group-addon add-on'}
        %span{class: 'glyphicon glyphicon-calendar'}
  %div{class: 'form-group'}
    %label{class: 'control-label', for:'til_date_picker'} Until:
    %div{class: 'input-group input-append date', id: 'til_date_picker'}
      %input{type: 'text', class: 'form-control', name: 'til_date', placeholder: "e.g., #{Date.today.strftime("%b-%d-%Y")}"}
      %span{class: 'input-group-addon add-on'}
        %span{class: 'glyphicon glyphicon-calendar'}
  %button{type: 'submit', class: 'btn btn-default', id: 'submit-button', value: 'submit'}
    %span{class: 'glyphicon glyphicon-search'}
    Search
%p

-if @cadet
  %h1{class: 'username'} #{@username}
  = line_chart @dates, library:{chartArea:{width:'100%'}}, id: 'progress', height: '300px'
  %div{class:'row'}
    %table{class: 'table'}
      %thead
        %tr
          %th Badge
          %th Date
      %tbody
        -@cadet['badges'].each do |badge|
          %tr
            %td
              = badge['id']
            %td{width: '300'}
              = badge['date']
