#header_wrapper
  %nav{:id => 'menu'}
    %ul
      - tabs = %w[cadet tutorial]
      - tabs.map do |page|
        - if current_page?("#{page}")
          %li{:class => 'current_page_item'}
            %a{:href => "/#{page}", :id => "#{page}"} #{page}
        - else
          %li
            %a{:href => "/#{page}", :id => "#{page}"} #{page}
