%ul{class:'nav nav-tabs'}
  - tabs = %w[cadet tutorial]
  - tabs.each do |page|
    - if current_page?("#{page}")
      %li{class: 'active'}
        %a{href: "/#{page}", id: "#{page}"} #{page}
    - else
      %li
        %a{href: "/#{page}", id: "#{page}"} #{page}
%p{style: 'margin-bottom: 1cm'}
